streamlit
streamlit-option-menu

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
opencv-python
mediapipe
pandas
scikit-learn
tqdm
timm
grad-cam
seaborn
plotly-express
facenet-pytorch